/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  object-fit: cover;
  object-position: center;
  font-family: var(--main-font), sans-serif;

  background-image: var(--background-gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-weight);
}

.content {
  margin: 0;
  margin-inline: auto;

  border: 2px solid #000;
  /* box-shadow: 0px 0px 0px 2px #000; */
  border-radius: 0px;
  background-color: #fff;
  inline-size: var(--content-inline-size);
  max-inline-size: 100%;
}

/* header */

.header {
  box-sizing: content-box;
  margin-block: 98px;
}

.logo-group {
  padding-block: clamp(
    122px,
    122px + (130 - 122) * ((100vw - 375px) / (1440 - 375)),
    130px
  );

  color: #000;
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

  font-style: normal;
  text-align: center;
  /* line-height: 1; */
  text-transform: uppercase;
}

.header__title {
  margin-block-end: 20px;
  font-weight: 400;

  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
}

/* cards-list */

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* card */

.card__title {
  padding-inline: 10px;
  padding-block: 4px;

  color: #000;
  font-weight: var(--title-weight);
  font-size: 18px;
  font-style: normal;
  line-height: 1.22;
  font-variation-settings: "slnt" 0;
}

.card__image-container {
  position: relative;
  display: flex;
}

.card__image {
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: #000;

  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  /* line-height: 14px; */
  text-transform: uppercase;

  text-shadow: 0 0 5px var(--shadow-color);

  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--shadow-color)) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-color);
  }
}

.card__content {
  padding-inline: 26px;
  padding-block: 29px 21px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;

  color: #000;
  font-weight: var(--text-weight);
  font-size: 18px;
  font-style: normal;
  line-height: 1.17;
  font-variation-settings: "slnt" 0;
}

.card__icon-button {
  border: none;
  background: transparent;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--contour-color);
  outline-offset: -2px;
}

.card__icon-button:hover {
  cursor: pointer;
}

.button {
  position: relative;
  border: 2px solid currentColor;
  color: #000;
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
  background: #fff;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px currentColor;
}

.button:hover {
  cursor: pointer;
}

.button::before {
  /* button-fill */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;

  mix-blend-mode: difference;
}

.button:hover::before {
  transform: scaleX(1);
}

/* .button__text {
  position: relative;
  z-index: 1;
} */

.card__like-button {
  padding: 12.5px 35px;
}

.buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-block-start: 25px;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  margin-block: 49px 100px;
  padding: 14px 18px;
}

.save-button__image {
  inline-size: 21px;
}

/* dialog */
.dialog {
  padding: 30px;
}

.dialog::backdrop {
  opacity: 0.75;
  background: #000000;
}

.dialog__image {
  inline-size: 39px;
}

.dialog__content {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;

  color: #000;

  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__text {
  max-inline-size: 234px;
}

.dialog__button {
  padding-block: 7px;

  color: #000;

  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
  inline-size: 100%;
}

@media (width < 376px) {
  .save-button__image {
    inline-size: 28px;
  }

  .save-button {
    flex-direction: column;
  }

  .dialog {
    padding-inline: 40px;
  }
}

.main-body {
  fill: transparent;
  transition: 0.3s linear 0s;
}

.core {
  fill: transparent;
  transition: 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.contour {
  fill: var(--contour-color);
  transition: 0.1s linear 0s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);

  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);

  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);

  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.06s;
}

.heard {
  transform-origin: center;
}

.like-icon.is-liked .heard {
  animation: like-scale 0.3s 1 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: like-sparks 0.3s 1 0.3s ease-in;
}

.like-icon:focus {
  outline: none;
}
