/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font), sans-serif;
  background-image: var(--background-gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-weight);
}

.content {
  margin: 0;
  margin-inline: auto;
  border: 2px solid #000;
  background-color: #fff;
  inline-size: var(--content-inline-size);
  max-inline-size: 100%;
}

/* header */

.header {
  box-sizing: content-box;
  margin-block: 98px;
  padding-block: clamp(
    122px,
    122px + (130 - 122) * ((100vw - 375px) / (1440 - 375)),
    130px
  );
  color: #000;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  margin-block-end: 20px;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
}

/* cards-list */

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* card */

.card__title {
  padding-inline: 10px;
  padding-block: 4px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: 1.22;
  font-variation-settings: "wght" var(--title-weight);
}

.card__image-container {
  position: relative;
  display: flex;
  border-top: 2px solid var(--contour-color);
  border-bottom: 2px solid var(--contour-color);
}

.card__image {
  filter: hue-rotate(5deg);
  inline-size: 100%;
  aspect-ratio: 1/1;
}

/* применение фильтров к изображениям */

.filter-standart {
  filter: hue-rotate(5deg) contrast(110%);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-very-saturate {
  filter: saturate(1000%);
}

.filter-love {
  filter: hue-rotate(184deg) saturate(158%);
}

.filter-blue-hue {
  filter: hue-rotate(288deg);
}

.filter-green-hue {
  filter: hue-rotate(51deg) contrast(1.5);
}

.filter-invert {
  filter: hue-rotate(243deg) invert(1);
}

.filter-rainbow-animation {
  animation: filter-image 3s linear infinite;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: #000;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 0 0 5px var(--shadow-color);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--shadow-color)) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-color);
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-inline: 25px;
  margin-block: 25px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: 1.17;
  font-variation-settings: "wght" var(--text-weight);
}

/* button */

.button {
  position: relative;
  border: 2px solid currentColor;
  color: #000;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
  background: #fff;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px currentColor;
}

.button:hover {
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  background-color: #fff;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: scaleX(1);
}

/* card__buttons */

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-inline: 25px;
  margin-block: 25px;
  margin-block-start: 25px;
}

.card__icon-button {
  border: none;
  background: transparent;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--contour-color);
  outline-offset: -2px;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__like-button {
  /* padding: 12.5px 35px; */
  padding-block: 12.5px;
  min-inline-size: 130px;
}

/* save-button */

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  margin-block: 49px 100px;
  padding: 14px 18px;
}

.save-button__image {
  inline-size: 21px;
}

/* dialog */

.dialog[open] {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 20px;
  padding: 30px;
  color: #000;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

.dialog__image {
  inline-size: 39px;
}

.dialog__text {
  max-inline-size: 234px;
}

.dialog__button {
  grid-column: 1/-1;
  padding-block: 7px;
  color: #000;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
  inline-size: 100%;
}

/* изменино правило (width <= 375px) из-за некорректного отображения при 375px */

@media (width < 376px) {
  .save-button__image {
    inline-size: 28px;
  }

  .save-button {
    flex-direction: column;
  }

  .dialog {
    padding-inline: 40px;
  }
}
