/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Intel";
  --accent-font: "PressStart2P";
  --text-weight: 410;
  --title-weight: 715;
  --background-gradient: repeating-linear-gradient(
      #d3d3d3 0px 2px,
      rgba(211, 211, 211, 0) 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0px 2px,
      rgba(211, 211, 211, 0) 2px 4px
    ),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --content-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --shadow-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #FF0000;
}
